importFrom("stats",
           "complete.cases", "dbinom", "mad", "median", "qchisq", "quantile",
           "rnorm")
importFrom("grDevices",
           "chull", "extendrange", "rgb")

importFrom("geometry",convhulln)
importFrom("matrixStats", rowMaxs, rowMins, rowSds)
importFrom("grid", grid.newpage, grid.layout, viewport, pushViewport)
importFrom("reshape2",melt)
import("ggplot2")

useDynLib("mrfDepth")

export(adjOutlyingness)
export(sprojdepth)
export(sprojmedian)
export(outlyingness)
export(projdepth)
export(projmedian)
export(hdepth)
export(hdepthmedian)
export(sdepth)
export(depthContour)
export(medcouple)
export(symtest)
export(compBagplot)
export(bagdistance)

export(mrainbowplot)
export(plotContours)
export(bagplot)
